.DS_Store
.project
.classpath
.settings
lib
target
build
classes
*.iml
*.ipr
*.iws
*.log
nbproject
Thumbs*
build.xml
catalog.xml
.idea
out
atlassian-ide-plugin.xml

# xcode
*.mode1v3
*.pbxuser
*.perspective
*.perspectivev3
*.pyc
*~.nib/
