<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xml="http://www.w3.org/XML/1998/namespace"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Mobile Campus Assistant</display-name>

    <context-param>
        <param-name>freemarker.template.path</param-name>
        <param-value>/WEB-INF/templates/</param-value>
    </context-param>

    <servlet>
        <servlet-name>registry</servlet-name>
        <servlet-class>org.ilrt.mca.servlet.RegistryInitServlet</servlet-class>
        <init-param>
            <param-name>configLocation</param-name>
            <param-value>/sdb.ttl</param-value>
        </init-param>
        <init-param>
            <param-name>registryLocation</param-name>
            <param-value>data/registry.ttl,data/registry-news.ttl,data/registry-contacts.ttl</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>scheduler</servlet-name>
        <servlet-class>org.ilrt.mca.servlet.QuartzInitServlet</servlet-class>
        <init-param>
            <param-name>config-file</param-name>
            <param-value>quartz.properties</param-value>
        </init-param>
        <init-param>
            <param-name>shutdown-on-unload</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>start-scheduler-on-load</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>busproxy</servlet-name>
        <servlet-class>org.ilrt.mca.servlet.BusProxyServlet</servlet-class>
        <init-param>
            <param-name>config-file</param-name>
            <param-value>/busproxy.properties</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>busproxy</servlet-name>
        <url-pattern>/busproxy/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>JerseyFilter</filter-name>
        <filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
        <init-param>
            <param-name>com.sun.jersey.config.feature.Redirect</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.feature.ImplicitViewables</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.ilrt.mca.rest</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>
            <param-value>/(style|images|js)/.*|/robots.txt|/busproxy/*</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>JerseyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
