<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xml="http://www.w3.org/XML/1998/namespace"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Mobile Campus Assistant</display-name>

    <!-- CONTEXT PARAMETERS -->

    <context-param>
        <description>Location of the freemarker templates</description>
        <param-name>freemarker.template.path</param-name>
        <param-value>/WEB-INF/templates/</param-value>
    </context-param>

    <!-- SERVLETS -->

    <servlet>
        <description>Initialises the application registry on startup</description>
        <display-name>Registry Startup Servlet</display-name>
        <servlet-name>registry</servlet-name>
        <servlet-class>org.ilrt.mca.servlet.RegistryInitServlet</servlet-class>
        <init-param>
            <description>Location of the SDB configuration file</description>
            <param-name>configLocation</param-name>
            <param-value>/sdb.ttl</param-value>
        </init-param>
        <init-param>
            <description>Location of the registry file.</description>
            <param-name>registryLocation</param-name>
            <param-value>data/registry.ttl</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <description>Scheduler used to manage data harvesters</description>
        <display-name>Quartz Initialization Servlet</display-name>
        <servlet-name>scheduler</servlet-name>
        <servlet-class>org.ilrt.mca.servlet.QuartzInitServlet</servlet-class>
        <init-param>
            <param-name>config-file</param-name>
            <param-value>quartz.properties</param-value>
        </init-param>
        <init-param>
            <param-name>shutdown-on-unload</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>start-scheduler-on-load</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <description>Servlet that proxies transport data</description>
        <display-name>Transport Data Proxy Servlet</display-name>
        <servlet-name>busproxy</servlet-name>
        <servlet-class>org.ilrt.mca.servlet.TransportProxyServlet</servlet-class>
        <init-param>
            <param-name>config-file</param-name>
            <param-value>/busproxy.properties</param-value>
        </init-param>
    </servlet>

    <servlet>
        <description>Servlet that proxies contact data</description>
        <display-name>Contact Data Proxy Servlet</display-name>
        <servlet-name>directoryproxy</servlet-name>
        <servlet-class>org.ilrt.mca.servlet.DirectoryProxyServlet</servlet-class>
        <init-param>
            <param-name>config-file</param-name>
            <param-value>/directoryproxy.properties</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- FILTERS -->

    <filter>
        <filter-name>NavigationFilter</filter-name>
        <filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class>
        <init-param>
            <param-name>suppressStackTraces</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cacheName</param-name>
            <param-value>NavigationFilter</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>JerseyFilter</filter-name>
        <filter-class>com.sun.jersey.spi.container.servlet.ServletContainer</filter-class>
        <init-param>
            <param-name>com.sun.jersey.config.feature.Redirect</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.feature.ImplicitViewables</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.ilrt.mca.rest</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name>
            <param-value>/(style|images|js)/.*|/robots.txt|/favicon.ico|/busproxy/*|/directoryproxy/*
            </param-value>
        </init-param>
    </filter>

    <!-- SERVLET MAPPINGS -->

    <servlet-mapping>
        <servlet-name>busproxy</servlet-name>
        <url-pattern>/busproxy/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>directoryproxy</servlet-name>
        <url-pattern>/directoryproxy/*</url-pattern>
    </servlet-mapping>

    <!-- FILTER MAPPINGS -->

    <filter-mapping>
        <filter-name>NavigationFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/today/</url-pattern>
        <url-pattern>/maps/</url-pattern>
        <url-pattern>/news/</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>JerseyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>

</web-app>
